- if current_user.is_allowed?('identity:group_add_member', domain_id: group.domain_id) && !@domain_config&.feature_hidden?('group_management')
  .toolbar.toolbar-aligntop
    .main-buttons
      = link_to 'Add Member', plugin('identity').domains_group_members_new_path(group.id), data: {modal: true}, class: 'btn btn-primary'

%table.table#group_members
  %tr
    %th Name
    %th ID
    %th
  - members.each do |user|
    = render partial: 'identity/domains/groups/member', locals: {user: user, group: group}
